.mt-1{
	margin-top: 10px;
}
.mt-2{
	margin-top: 20px;
}
.mt-3{
	margin-top: 30px;
}
.mb-2{
	margin-bottom: 20px;
}
.text-center{
	text-align: center;
}

.panel-primary>.panel-heading {
	background: #005eb8;
}
.panel-primary > .panel-heading > h1{
	font-size: 24px;
}
form[name="register-free-purifier"] label {
    color: black;
}
.panel-register > panel-body{
	color: #000;
}

#container-form{
	margin-top: 220px;
	opacity: 0.95;
}

@media(max-width: 768px){
	#container-form{
		margin-top: 110px;
	}
	#bg {
		min-width: unset !important;
		min-height: unset !important;
	}
}

@media(max-width: 414px){
	.panel-register > .panel-heading > h1 {
		font-size: 20px;
	}
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}