/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* start editing from here */
a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */
.txt-lt {
    text-align: left;
}

/* text align left */
.txt-center {
    text-align: center;
}

/* text align center */
.float-rt {
    float: right;
}

/* float right */
.float-lt {
    float: left;
}

/* float left */
.clear {
    clear: both;
}

/* clear float */
.pos-relative {
    position: relative;
}

/* Position Relative */
.pos-absolute {
    position: absolute;
}

/* Position Absolute */
.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */
.vertical-top {
    vertical-align: top;
}

/* vertical align top */
nav.vertical ul li {
    display: block;
}

/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */
img {
    max-width: 100%;
}

/*end reset*/
body {
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
}

/*--header--*/
h1 a {
    font-size: 2em;
    color: #fff;
    letter-spacing: 0px;
    font-weight: 600;
    margin-bottom: 5vw;
    display: inline-block;
}

h1 a span {
    margin-right: 10px;
}

/*--//header--*/
/* content */
/* left content */
.main-w3ls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.left-content {
    background: url(../images/2.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.w3ls-content {
    padding: 5vw;
}

/* navigation */
ul.nav-w3ls {
    margin-top: 7em;
}

ul.nav-w3ls li {
    display: inline-block;
}

ul.nav-w3ls li a {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0 20px;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

ul.nav-w3ls li a:hover {
    opacity: .7;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

ul.nav-w3ls li:nth-child(1) a,
ul.nav-w3ls li:nth-child(5) a,
ul.nav-w3ls li:nth-child(3) a {
    margin: 0;
}

/* //navigation */
/* button */
a.button-w3ls span {
    background: #000;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5;
    font-size: 20px;
    margin-top: 1em;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

a.button-w3ls span:hover {
    background: #0183e8 !important;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

/* //button */
/* //left content */
/* right content */
.right-form-agile {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.sub-main-w3 {
    padding: 3vw 3.5vw 2.5vw;
    background: #005eb8;
    min-height: 100vh;
}

.w3ls-content h2 {
    font-size: 50px;
    color: #fff;
    font-weight: 800;
    max-width: 480px;
}

.sub-main-w3 h3 {
    color: #fff;
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 600;
}

.sub-main-w3 h5 {
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 4px;
}

.sub-main-w3 p {
    color: #d8d6d6;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 1.8em;
}

.sub-main-w3 label {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 8px;
    display: inline-block;
}

.pom-agile {
    padding: 12px 15px;
    background: #fff;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-basis: 100%;
}

.pom-agile span {
    color: #555;
    flex-basis: 4%;
    -webkit-flex-basis: 4%;
    margin-right: 8px;
}

/* form */
.pom-agile input[type="text"],
.pom-agile input[type="email"],
.pom-agile input[type="password"] {
    outline: none;
    font-size: 14px;
    border: none;
    background: transparent;
    color: #000;
    letter-spacing: 1px;
    flex-basis: 95%;
    -webkit-flex-basis: 95%;
}

.sub-main-w3 input[type="submit"] {
    color: #fff;
    background: #e84601;
    border: none;
    padding: 12px 0;
    margin-top: 1.3em;
    outline: none;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 4px;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.sub-main-w3 input[type="submit"]:hover {
    opacity: .8;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

/* //form */
/* checkbox */
.sub-agile {
    float: left;
}

.sub-agile input[type="checkbox"] {
    display: none;
}

.sub-agile input[type="checkbox"]+label {
    position: relative;
    padding-left: 25px;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}

.sub-agile input[type="checkbox"]+label span:first-child {
    width: 13px;
    height: 13px;
    display: inline-block;
    border: 1px solid #fff;
    position: absolute;
    top: 5px;
    left: 2px;
}

.sub-agile input[type="checkbox"]:checked+label span:first-child:before {
    content: "";
    background: url(../images/tick.png)no-repeat;
    position: absolute;
    left: 2px;
    top: 1px;
    font-size: 10px;
    width: 10px;
    height: 10px;
}

.sub-w3l a {
    float: right;
    font-size: .9em;
    color: #fff;
    letter-spacing: 1px;
}

/* //checkbox */
/* placeholder-color */
::-webkit-input-placeholder {
    color: #8a8989;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #8a8989;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #8a8989;
}

:-ms-input-placeholder {
    color: #8a8989;
}

/* //placeholder-color */
/* social icons */
.w3ls-social h3 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 500;
    margin: 1.5em 0 1em;
}

.w3ls-social {
    text-align: center;
}

.social-nav li {
    display: inline-block;
}

.social-nav li:nth-child(2),
.social-nav li:nth-child(3) {
    margin: 0 .5em;
}

.social-nav a {
    display: inline-block;
    float: none;
    width: 30px;
    height: 30px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    background: #000;
    position: relative;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.social-nav a:hover {
    opacity: .8;
}

a.twitter {
    background: #00acee;
}

a.facebook {
    background: #3b5998;
}

a.instagram {
    background: #f77737;
}

a.pinterest {
    background: #bd081c;
}

.social span {
    color: #fff;
    font-size: 12px;
    line-height: 30px;
}

/* //social icons */
/* //right content */
/* //content */
/* copyright */
.copyright p {
    color: #fff;
    letter-spacing: 2px;
    font-size: 15px;
    margin: 1.5vw;
    text-align: right;
}

.copyright p a {
    color: #e84601;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.copyright p a:hover {
    color: #fff;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

/* //copyright */
/* responsive */
@media(max-width: 1080px) {
    .left-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
    }

    .right-form-agile {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }

    .copyright p {
        font-size: 14px;
    }

    h1 a {
        font-size: 1.8em;
    }

    .w3ls-content h2 {
        font-size: 44px;
    }

    .sub-main-w3 h3 {
        font-size: 28px;
    }

    .sub-main-w3 h5 {
        font-size: 18px;
    }

    .sub-main-w3 p {
        font-size: 13px;
        margin-bottom: 1.5em;
    }

    .sub-main-w3 label {
        font-size: 13px;
    }

    .sub-agile input[type="checkbox"]+label {
        font-size: 14px;
    }

    h1 a {
        margin-bottom: 8vw;
    }

    .copyright p {
        margin: 4vw 1.5vw;
    }
}

@media(max-width: 900px) {
    .copyright p {
        padding: 4vw 1.5vw;
        margin: 0;
    }

    .left-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 100%;
        max-width: 100%;
        order: 2;
    }

    .right-form-agile {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
    }

    .sub-main-w3 {
        padding: 5vw 10vw;
    }

    .w3ls-content h2 {
        font-size: 40px;
    }
}

@media(max-width: 480px) {
    .w3ls-social h3 {
        font-size: 20px;
        margin: 1.5em 0 .6em;
    }

    .w3ls-content h2 {
        font-size: 34px;
    }

    ul.nav-w3ls li a {
        font-size: 14px;
    }

    .copyright p {
        font-size: 13px;
    }

    ul.nav-w3ls {
        margin-top: 4em;
    }
}

@media(max-width: 440px) {
    ul.nav-w3ls li a {
        margin: 0 11px;
    }
}

@media(max-width: 414px) {
    h1 a {
        font-size: 1.6em;
    }

    .w3ls-content h2 {
        font-size: 30px;
    }

    ul.nav-w3ls li a {
        margin: 0 18px;
    }
}

@media(max-width: 384px) {
    .sub-agile input[type="checkbox"]+label {
        font-size: 13px;
    }

    h1 a {
        font-size: 1.4em;
    }

    .w3ls-content h2 {
        font-size: 28px;
    }
}

@media(max-width: 375px) {
    .sub-main-w3 h3 {
        font-size: 25px;
    }

    .sub-main-w3 h5 {
        font-size: 16px;
    }

    .sub-main-w3 p {
        font-size: 12px;
    }

    .pom-agile input[type="text"],
    .pom-agile input[type="email"],
    .pom-agile input[type="password"] {
        font-size: 13px;
    }
}

@media(max-width: 320px) {
    ul.nav-w3ls {
        margin-top: 3em;
    }

    h1 a {
        font-size: 1.2em;
    }

    .w3ls-content h2 {
        font-size: 26px;
    }

    .sub-main-w3 h5 {
        font-size: 14px;
    }
}

/* //responsive */

form[name="register-free-purifier"] label{
    color: white;
}

span.required{
    color: red;
    font-size: 9px;
}

small[data-bv-result="INVALID"]{
    color: red;
    font-size: 9px;
}

/*.has-feedback label~.form-control-feedback {
    top: 35px;
    font-size: 10px;
}*/