html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  padding-top: 1px;
  font-size: 12px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }

}

.special-card {opacity: .7; }

.bg { 
  /* The image used */
  background-image: url("images/bg.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }
.text-blue-50 { color: rgba(0, 158, 230, .5); }
.text-red-50 {color: rgba(100, 0, 0, .5); }

.bg-blue { background-color: #009EE6; 
    height: 100%;
    
}

.lh-100 { line-height: 1; }
.lh-120 { line-height: 1.2; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.font-lighter {font-weight: lighter; }
.font-normal {font-weight: normal; }
.font-bold {font-weight: bold; }
.font-italic{font-style: italic; }

.width-150 {width: 150px; height: auto; }
.height-35 {width: auto; height:35px;}