.breadcrumb {
	background: #ededed;
}
.not-found-error{
	color: red;
	font-weight: bold;
}
span.error{
	font-size: 11px;
	color: red;
}
.modal-medium{
	max-width: 60%;
}
.modal-large{
	max-width: 80%;
}