.navbar-inverse {
background-color: #0b9444;
    border-color: #d9edf7;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fcf8e3;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-green{
	color:#0b9444;
}
.col_toggle, .col_toggle:hover, .col_toggle:active{
	text-decoration: none;
}
.cursor-pointer{
	cursor: pointer;
}
img.panel-avatar{
	width: 50px;
	height: 50px;
}
img.qrcode{
	margin: 0 auto;
}
.box-avatar-home{
	margin: 0 auto;
	width: 80%;
	padding: 10px;
	background: #f5f5f5;
}
.choice-detail{
	background: #dff0d8;
	border: 1px solid #d9edf7;

}
.choice-detail > h4{
	font-weight: 300;
}
.choice-chooser{
	    border: 1px solid #d9edf7;
}
.mt20{
	margin-top: 20;
}
.mt10{
	margin-top: 10px;
}
.mb20{
	margin-bottom: 20px;
}
.mb10{
	margin-bottom: 10px;
}
.pd20{
	padding: 20px;
}
.pt20{
	padding-top: 20px;
}
.pt10{
	padding-top: 10px;
}
.pb20{
	padding-bottom: 20px;
}
.pb10{
	padding-bottom: 10px;
}
.pd20{
	padding: 20px;
}
.pd10{
	padding: 10px;
}
.no-mb{
	margin-bottom: 0px;
}
.table-responsive {
    min-height: .01%;
    overflow-x: inherit;
}
.dataTables_filter{
    text-align: right;
}

.modal-dialog {
     width: 60%;
}

@media screen and (max-width: 767px) {
    .modal-dialog {
     width: 90%;
	}
}